.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* --------------------------------------------------------------------------- */

.header {
  padding-top: 7px;
  height: 6vh;
  padding-left: 1420px;
}

.head {
  padding: 10px;
  font-style: italic;
  padding-left: 530px;
  font-size: 100px;
  background-color: rgba(143, 150, 50, 0.603);
  color: white;
}

.hbody {
  background-color: rgba(143, 150, 50, 0.603);
  height: 3vh;;

}

.name {
  padding-left: 50px;
}

.box {
  padding-left: 500px;
}

.but {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(8, 79, 8);
  color: white;
  border: none;
  
  
}
